@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@400;600&family=Outfit:wght@400;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=agrandir:700,500,400&display=swap");
@import url("https://db.onlinewebfonts.com/c/35170cf1718ed22ad98e6f262b827249?family=Agrandir+Wide+Light");
@import url("https://db.onlinewebfonts.com/c/1dc7840abb13fcda12aa8d1cb21fb832?family=Agrandir");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/cd7b05ba22e73021e0a390f532a72589?family=PP+Telegraf");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

/* Removed @custom-variant as it is not a standard CSS rule */

:root {
    --font-logo: "Anton", sans-serif;
    --font-heading: "Barlow", sans-serif;
    --font-para: "Outfit", sans-serif;
}

:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* Custom properties for the theme */
    --background-color: #0a0a0a; /* Dark background */
    --foreground-color: #ffffff; /* Light text color */
    --card-background-color: #1a1a1a; /* Card background */
    --card-foreground-color: #ffffff; /* Card text color */
    --popover-background-color: #1a1a1a; /* Popover background */
    --popover-foreground-color: #ffffff; /* Popover text color */
    --border-color: #333333; /* Border color */
    --primary-color: rgb(94, 23, 235); /**/
}

/* Custom styles */
html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: #5e17eb; /* background required by client */
    color: white;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif; */
    /* font-family: "Outfit", sans-serif; */
    /* font-family: "Anton", sans-serif; */
    font-family: "Agrandir", sans-serif;
}

.freelogo {
    font-family: "Agrandir", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Space Grotesk", sans-serif; */
    /* font-family: "Outfit", sans-serif; */
}
.freeheading {
    font-family: "Encode Sans Expanded", sans-serif;
}
/* .freepara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
} */

.hero-container {
    position: relative;
    overflow: hidden;
    z-index: 0; /* Ensure a stacking context */
}

.hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/images/image1.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transform: scaleX(-1); /* Flip on X-axis */
    transform-origin: center;

    z-index: -1; /* Push behind content */
    pointer-events: none;
}

.wavy-background {
    /* background-color: #4f00ff;  */
    background-image: url("/assets/images/creation_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wavy-light-background {
    position: relative;
    background-color: #fff; /* or any solid background */
    z-index: 0;
}

.wavy-light-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/images/creation_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Adjust this for lighter/darker image */
    z-index: -1;
}

@font-face {
    font-family: "freelogo";
    src: url("/fonts/agrandir-wide.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "freeheading";
    src: url("/fonts/BDSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}

@font-face {
    font-family: "freepara";
    src: url("/public/fonts/TelegrafRegular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}

/* @layer utilities {
    .grad-fade-right {
        background-image: linear-gradient(
            to top right,
            #845ec2,
            #2c73d2,
            #0081cf,
            #0089ba,
            #008e9b,
            #008f7a
        );
    }
} */

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
